<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-material">Create new material</a>
<h1>Materials</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>ImportDate</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
    </tr>
    <th:block th:each="material : ${materials}">
        <tr>
            <td th:text="${material.id}"></td>
            <td th:text="${material.name}"></td>
            <td th:text="${material.importDate}"></td>
            <td th:text="${material.description}"></td>
            <td th:text="${material.price}"></td>
            <td th:text="${material.quantity}"></td>
            <td th:text ="${material.image}"></td>
            <td th:text="${material.supplier.name}"></td>
            <td><a th:href="@{/edit-material/__${material.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-material/__${material.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>